.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
images/
02.Report_X207SC23100349-Z01-F001
output/
02.Report_X207SC23100349-Z01-F001.zip
code/bash-scripts/kraken2_tutorial.sh
code/bash-scripts/humann3_tutorial.sh

